@import "tailwindcss";

@theme {
    --color-primary: #2B2B2B;
    --color-box-color-light: #FFFDE7;
    --color-complementary: #51D289;
    --color-contrast: #FFE600;
    --color-contrast-dark: #D5C109;
}

@layer utilities {
    .slider::-webkit-slider-thumb {
        appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: rgb(81, 210, 137);
        cursor: pointer;
        border: 2px solid white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .slider::-moz-range-thumb {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: rgb(81, 210, 137);
        cursor: pointer;
        border: 2px solid white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}